extends ../layout

block extra_head
  script.
    require(['jquery', 'bootstrap'], function ($) {
      $(document).on('hide.bs.collapse show.bs.collapse', '.sipCollapse', function () {
        var trigger = $('[data-toggle="collapse"][href="#' + $(this).attr('id') + '"]');
        trigger.find('i').toggleClass('glyphicon-chevron-down glyphicon-chevron-right');
      });
    });

block content
  .main.buttonList
    .header
      .container
        h1 Click2Vox Buttons
        p This is a free account. You will only be able to create buttons with the same SIP. #[a(href="#" data-toggle="modal" data-target="#myModal") Upgrade Now]

        .actions-wrap
          if currentUser.sip_uris.length > 0 && !currentUser.paid
            #[a.btn.btn-purple(data-toggle="modal" data-target="#myModal") Add SIP URI]
          else
            #[a.btn.btn-purple(href="/sip/new") Add SIP URI]

          #[=" "] #[a.btn.btn-success(href="/widget/new") Add New Button]

    .body
      .container
        .row
          - each group in widgetsData
            .col-xs-12
              .group-header
                h4
                  a(data-toggle="collapse" href="##{group.widgets[0]._id}")
                    #[i.glyphicon.glyphicon-chevron-down] #[span #{group._id}]

              .sipCollapse.collapse.in(id="#{group.widgets[0]._id}")
                table.table
                  thead
                    tr
                      td(width="25%") Configuration Name
                      td.text-center(width="55%") Button Preview
                      td.text-right Actions
                  tbody
                    - each widget in group.widgets
                      tr
                        td #{widget.configuration_name}
                        td.text-center
                          button(class="btn-#{widget.button_style}")
                            span #{widget.button_label || defaultBtnLabel}
                        td.text-right
                          #[a.btn.btn-sm.btn-primary(href="#") Copy Code] #[a.btn.btn-sm.btn-info(href="/widget/#{widget._id}/edit") View / Edit]

  .modal.fade.add-new-modal#myModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          button.close(type="button" class="" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true")&times;
          h4.modal-title#myModalLabel
            i.glyphicon.glyphicon-exclamation-sign
            span  Add New SIP URI
        .modal-body
          p#[strong Coming Soon.] To add a new SIP URI you will need to upgrade to a paid account. We are currently working on these feature. Please contact us directly if you need this sooner.
        .modal-footer
          div
            include call-button.html
          //- button.btn.btn-purple(type="button" data-dismiss="modal") Click to Call Voxbone
          a(href="mailto:info@voxbone.com?subject=%5BCLICK2VOX%5D%20About%20Upgrading")
            button.btn.btn-success(type="button") Click to Email Voxbone
