extends ../layout

block extra_head
  script.
    require([
      'domReady',
      'angular',
      'jquery',
      'controllers/widget.list',
      'controllers/widget.delete',
      'controllers/sip.edit'
    ],
    function(domReady, angular, $, WidgetListController, DeleteWidgetController, EditSIPController) {
      //- adding a new require call to load other
      //- controllers after main one loads
      angular.module('voxboneApp', [])
        .controller('WidgetListController', WidgetListController)
        .controller('EditSIPController', EditSIPController)
        .controller('DeleteWidgetController', DeleteWidgetController);

      domReady(function() {
        angular.bootstrap(document, ['voxboneApp']);
      });

      $(document).on('hide.bs.collapse show.bs.collapse', '.sipCollapse', function() {
        var trigger = $('[data-toggle="collapse"][href="#' + $(this).attr('id') + '"]');
        trigger.find('i').toggleClass('glyphicon-chevron-down glyphicon-chevron-right');
        $('#'+$(this).attr('id')).toggle();
      });

      $(document).on('click', '#callVoxbone', function() {
        $('.call-to-voxbone-button .vxb-widget-box #launch_call')[0].click();
      });
    });

block content
  .site-wrapper-inner.home-wrap(ng-controller="WidgetListController")
    .container
      while m = messages.shift()
          .alert(class='alert-' + m.type)
            div= m.message
              a(href="#" ng-click='openRequestUpgradeModal(false)')  Request More
      .row
        .col-xs-12
          .touch
            center.header
              span.large Click2Vox Buttons
              br
              if !currentUser.upgrade_request && currentUser.sip_uris.length == 0
                p#upgrade_request Your trial account is authorized to create a single user-defined SIP URI and 5 simultaneous calls. #[a(href="#" ng-click='openRequestUpgradeModal(false)') Request a free upgrade]
              else
                p#upgrade_request You currently have #{currentUser.sip_uris.length} SIP URI’s for up to 5 simultaneous calls per account. #[a(href="#" ng-click='openRequestUpgradeModal(false)') Request an upgrade] if you need more

            center
              a.btn.btn-default-custom.add-btn(href="/sip/new") Add SIP URI
              a.btn.btn-default-custom.add-btn(href="/widget/new") Add New Button
            hr

            each group in widgetsData
              .toggle-extra
                a(data-toggle="collapse" href=`#${group.uuid}` class=`${(group.widgets.length === 0) ? 'collapsed': ''}`)
                    span #{group._id}
                    i#flip(class=`glyphicon glyphicon-chevron-${(group.widgets.length === 0) ? 'right': 'down'}`)
                a.pull-right(href="#" ng-click=`editSIPURI("${group._id}")`) Edit

                if group.widgets.length > 0
                  .toggle-content.sipCollapse.collapse.in(id="#{group.uuid}" style="display: block")
                    .row.tc-header
                      .col-xs-4 Configuration Name
                      .col-xs-4.text-center Button Preview
                      .col-xs-4.text-right Button Preview
                      .col-xs-12
                        .divider
                    each widget in group.widgets
                      .row
                        .col-xs-4 #{widget.configuration_name}
                        .col-xs-4.text-center
                          button.btn(style=`border: ${widget.button_color}; background: ${widget.button_color}` class=`btn-${widget.button_style}`)
                            span #{widget.button_label || defaultBtnLabel}
                        .col-xs-4.text-right
                          a.clipboard(href="" widget-code=`${widget.divCode}`) Copy Code
                          a(href=`/widget/${widget._id}/edit`) View/Edit
                          a(href="" ng-click=`openDeleteModal("${widget._id}")`) Delete
                hr

    include contact-voxbone
    include ../sip/edit_modal
    include ../widget/delete_modal
