doctype html
html(lang='en', ng-app="voxboneApp")
  head
    if process.env.NEW_RELIC_LICENSE_KEY
      != newrelic.getBrowserTimingHeader()

    title= title

    link(rel="apple-touch-icon" href="")
    link(rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico")

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")

    style.
      table, td, th {
        border: 1px solid #888;
        text-align: left;
      }

      table {
        border-collapse: collapse;
        width: 100%;
      }

      th, td {
        padding: 15px;
      }

      tr:nth-child(odd) {background-color: #ddd}
      tr:nth-child(even), th{background-color: #bbb}

    script.
      window.setInterval("window.location.reload();", 10000);

  body
    .main
      .body(ng-controller="VoxboneWidgetController")
        h1 click2vox.com - Statistics
        h4 Automatically reloads every minute (Filtering out voxbone, agilityfeat and testrtc)
        div(style="overflow-x:auto;")
          table
            thead
              tr
                th Domain name
                th Accounts
                th Widgets
                th SIP URI's
                th Call reports
            tbody
              for x in data
                tr
                  td #{x.domain_name}
                  td #{x.accounts_number}
                  td #{x.widgets_number}
                  td #{x.unique_sip_uris}
                  td #{x.call_reports}
