doctype html

html(lang='en', ng-app="voxboneApp")
  head
    title= title

    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet")
    link(href="/stylesheets/root.css", rel="stylesheet")

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js",type="application/javascript")
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js' )
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js",type="application/javascript")

    script(src="//webrtc.voxbone.com/js/jssip-0.7.9-vox.js",type="application/javascript")
    script(src="//webrtc.voxbone.com/js/voxbone-0.0.3.js",type="application/javascript")

    script.

      var number = '13072787231'; //16092975366

      var eventHandlers = {
        'localMediaVolume': function (e) {
          //- console.log('Microphone Volume -> ' + e.localVolume);
          if(voxbone.WebRTC.isMuted) return;

          if (e.localVolume > 0.30) parent.postMessage("setMicVolume5","*")
          else if (e.localVolume > 0.20) parent.postMessage("setMicVolume4","*")
          else if (e.localVolume > 0.10) parent.postMessage("setMicVolume3","*")
          else if (e.localVolume > 0.05) parent.postMessage("setMicVolume2","*")
          else if (e.localVolume > 0.01) parent.postMessage("setMicVolume1","*")
          else if (e.localVolume <= 0.01) parent.postMessage("setMicVolume0","*")
        },
        'progress': function (e) {
          console.log('Calling...');
          parent.postMessage("setCallCalling","*");
        },
        'failed': function (e){
          console.log('Failed to connect: ' + e.data.cause);
          parent.postMessage("setCallFailed","*");
        },
        'accepted': function (e){
          console.log('Call started');
          parent.postMessage("setInCall","*");
        },
        'ended': function (e){
          console.log('Call ended');
          parent.postMessage("setCallEnded","*");
        }
      };

      var app = angular.module('voxboneApp', [])
        .controller('VoxboneWidgetController', ['$scope', '$http', '$window', function($scope, $http, $window){

          $scope.master = { };

          $scope.init = function () {
            voxbone.WebRTC.authServerURL = "https://webrtc.voxbone.com/rest/authentication/createToken";

            voxbone.WebRTC.customEventHandler = eventHandlers;

            if('#{the_widget.sip_uri}')
              voxbone.WebRTC.configuration.uri = '#{the_widget.sip_uri}';

            if('#{the_widget.caller_id}')
              voxbone.WebRTC.configuration.display_name = '#{the_widget.caller_id}';

            if('#{the_widget.context}')
              voxbone.WebRTC.context = '#{the_widget.context}';

            if('#{the_widget.send_digits}') {
              console.log('Digits sent: #{the_widget.send_digits}')
              voxbone.WebRTC.configuration.dialer_string = '#{the_widget.send_digits}';
            }

            voxbone.WebRTC.init(#{voxrtc_config});
          };


          $scope.send_voxbone_interaction = function (message){
            if (!voxbone.WebRTC.rtcSession.isEstablished())
              return;

            switch(message) {
              case 'hang_up':
                voxbone.WebRTC.hangup();
                break;
              case 'microphone-mute':
                if (voxbone.WebRTC.isMuted) {
                  voxbone.WebRTC.unmute();
                } else {
                  voxbone.WebRTC.mute();
                }
                break;
              case '1':
              case '2':
              case '3':
              case '4':
              case '5':
              case '6':
              case '7':
              case '8':
              case '9':
              case '0':
              case '*':
              case '#':
                voxbone.WebRTC.sendDTMF(message);
                break;
            }
          };

          $window.addEventListener('message', function(event) {
            //- console.log(event.data);
            var message = event.data;

            if (message.action &&  message.action == 'rate')
              $scope.sendRate(message.data.rate, message.data.comment);
            else
              $scope.send_voxbone_interaction(event.data);
          });

          $scope.sendRate = function (rate, comment) {
            var req = {
              method: 'POST',
              url: '/rating',
              headers: {
                'Content-Type': 'application/json; charset=utf-8'
              },
              data: {
                rate: rate,
                comment: comment,
                token: '#{the_widget._id}'
              }
            };

            $http(req)
              .then(function successCallback(response) {
                console.log("rating sent!");
              }, function errorCallback() {
                console.log("rating sending error callback");
              });
          };

          $scope.makeCall = function () {
            var supported = voxbone.WebRTC.isWebRTCSupported();

            if(supported == false){
              console.log("WebRTC is NOT supported!");

              if(#{the_widget.hide_widget}) return;
              else if('#{the_widget.link_button_to_a_page}')
                $window.open('#{the_widget.link_button_to_a_page}','_blank')
              else if('#{the_widget.show_text_html}') {
                var message = { action: 'setMessage', text: '#{the_widget.show_text_html}' }
                parent.postMessage(message,"*");
              }
            } else{

                if(#{the_widget.dial_pad}) {
                  parent.postMessage("openWidget","*");
                } else {
                  parent.postMessage("openWidgetWithoutDialPad","*");
                }

                var number = '13072787231'; //16092975366
                voxbone.WebRTC.call(number);
                window.onbeforeunload = function(e){
                  voxbone.WebRTC.rtcSession.terminate();
                }
            }
          };

          $scope.init();
        }]);

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '#{process.env.GOOGLE_ANALYTICS_ID}', 'auto');
      ga('send', 'pageview');

  body
    .main
      .body(ng-controller="VoxboneWidgetController")
        .widget-box(class="#{ the_widget.button_style || 'style-b' }")
          button.btn-style.mdi-communication-call#launch_call(ng-click="makeCall()") #[span #{ the_widget.button_label || 'Call Now!' }]
          .widget-footer-left
            a(href="https://test.webrtc.org/" target="_blank") Test your setup
          .widget-footer-right
            a(href="https://voxbone.com" target="_blank") powered by:
